    <h1 class="title is-1"><%= link_to 'Game Camp',root_path %></h1>
          <nav class="navbar" role="navigation" aria-label="main navigation">
            <div id="navbarBasicExample" class="navbar-menu">
              <div class="navbar-start">
                <a class="navbar-item">
                  <h3><%= link_to "Home", root_path%></h3>
                </a>
                <a class="navbar-item">
                  <h3><%= link_to "Games", games_path %></h3>
                </a>
                <a class="navbar-item">
                  <h3><%= link_to "Publishers", publishers_path %></h3>
                </a>

                <a class="navbar-item">
                  <h3><%= link_to "Genre", genres_path %></h3>
                </a>
              </div>

            </div>
          </nav>

            <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <div class="field is-grouped">
                    <p class="control">
                      <button class="button is-link">
                          <%= link_to "My account", admin_root_path %>
                      </button>
                    </p>
                    <p class="control">
                      <button class="button is-danger">My cart</button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </nav>