<h1>Home</h1>

<div class="column is-one-third">
  <div class="card">
    <div class="card-content" >
      <% @games.each do |game| %>
        <% if game.image.present? %>
          <div class="card-image">
            <figure class="image is-4by3">
              <p><%= image_tag game.image %></p>
            </figure>
          </div>
        <% end %>
        <div class="media-content">
          <p class="title is-4"><%=  link_to game.game_name,game %></p>
          <p class="subtitle is-6">Publisher: <%= link_to game.publisher.name, game.publisher%></p>
        </div>
        <div class="card-content">
          <p><strong> price: <%=number_to_currency game.price%></strong></p>
          <p><strong> Role: <%= game.role %> </strong></p>
          <p>Description: <br><%= game.description %></p>
        </div>
    <% end %>
  </div>
</div>