<%
  show_link = true
%>

<div class="column">
  <div class="card">
    <div class="card-content">
      <p class="title">
        <% if show_link %>
          <%= link_to game.game_name, game%>
        <% else %>
          <%= game.game_name%>
        <% end %>
      </p>
      <p><%= image_tag game.image %></p>
      <p>Publisher: <%= link_to game.publisher.name, game.publisher%></p>
      <p><strong> price: <%=number_to_currency game.price%></strong></p>
      <p><strong> Role: <%= game.role %> </strong></p>
      <p>Description: <br><%= game.description %></p>
    </div>
  </div>
</div>


