<h1>Advanced Search</h1>
<div class="container">
  <%= form_tag games_path, method: :get do %>
    <%= label_tag :keywords %>
    <%= text_field_tag :keywords, params[:keywords] %><br>

    <%= label_tag :publisher %>
    <%= select_tag :publisher, options_for_select(@publishers, params[:publisher]), include_blank: true %><br>

    <%= label_tag "price From" %>
    <%= text_field_tag :min_price, params[:min_price] %>

    <%= label_tag "To" %>
    <%= text_field_tag :max_price, params[:max_price] %><br><br>

    <%= submit_tag "Search" %>
  <% end %>
</div>

<section>
  <%= render partial:'game', collection: @games, locals: {show_link:true} %>
</section>