<!DOCTYPE html>
<html>
  <head>
    <title>EcommerceProject</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header>
      <nav class="navbar" role="navigation" aria-label="main navigation">
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item">
              <%= link_to "Home", root_path%>
            </a>
            <a class="navbar-item">
              <%= link_to "Games", games_path %>
            </a>
            <a class="navbar-item">
              <%= link_to "Publishers", publishers_path %>
            </a>
            <a class="navbar-item">
              <%= link_to "Genre", genres_path %>
            </a>
          </div>
           <div class="navbar-end">
              <div class="navbar-item">
                <div class="buttons">
                  <div class="field is-grouped">
                    <p class="control">
                      <button class="button is-link">
                          <%= link_to "My account", admin_root_path %>
                      </button>
                    </p>
                    <p class="control">
                      <button class="button is-danger">
                       My cart
                      </button>
                    </p>
                  </div>
                </div>
              </div>
            </div>
        </div>
      </nav>
    </header>
    <%= yield %>
  </body>
</html>
